.overskrift {
    font-family: "Roboto Slab", sans-serif;
    background-color: #BCBEC0;
    color: black;
    text-align: center;
    padding: 40px;
    padding-bottom: 8px;
    margin-top: 1rem;
    margin-bottom: 0px;
    width: 100%;
    box-sizing: border-box;
}

.Underoverskrift {
    font-family: "Roboto Light", sans-serif;
    background-color: #A7A9AC;
    color: black;
    text-align: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    margin: 0px;
}

.grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "a b"
                         "c d";
}

.grida {
    grid-area: a;
}