*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html,
body {
    height: 100%;
}

body {
    height: 100vh;
    height: 100dvh;
    height: 100svh;
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
}
/* main {
    display: grid; 
    height: 100%;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: 2fr 1fr 1fr; 
    grid-template-areas: 
      "a b c"
      "d e f"
      "g h i"; 
} */
main {
    display: grid; 
    height: 100%;
    grid-template-columns: repeat(6, 1fr); 
    grid-template-rows: 0.8fr 0.7fr 2.5fr; 
    grid-template-areas: 
      "a a b b c c"
      "d e f g h i"
      "k k k m m m"; 
}
.a { grid-area: a; }
.b { grid-area: b; }
.c { grid-area: c; }
.d { grid-area: d; }
.e { grid-area: e; }
.f { grid-area: f; }
.g { grid-area: g; }
.h { grid-area: h; }
.i { grid-area: i; }
.j { grid-area: j; }
.k { grid-area: k; }
.l { grid-area: l; }
.m { grid-area: m; }
.n { grid-area: n; }
.o { grid-area: o; }


p {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    margin-top: 10px;

}
h1 {
    font-family: "Roboto", sans-serif;
    font-size: 3rem;
    font-weight: 500;
}
h2 {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: 300;
}

h3 {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
    margin-top: 2rem;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bilde2 {
    margin-top: 2rem;
}

.overskrift {
    background-color: #BCBEC0;
    text-align: center;
    padding: 40px;
    padding-bottom: 8px;
    margin-top: 1rem;
    width: 100%;
}

.Underoverskrift {
    background-color: #A7A9AC;
    text-align: center;
    padding: 20px;
    width: 100%;
}

.skillelinje {
    background-color: #A7A9AC;
    padding: 3px;
    margin-top: 1rem;
}
